services:
  luanti:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: luanti
    environment:
      - WORLD_NAME=world
      - GAME_ID=devtest
    volumes:
      - ./data:/data
    ports:
      - 30000:30000/udp
    restart: unless-stopped
