services:
  luanti:
    image: lscr.io/linuxserver/luanti:latest
    container_name: luanti
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - WORLD_NAME=world
      - GAME_ID=voxelibre
      - FIXED_SEED=12345678
      - "CLI_ARGS=--gameid voxelibre --worldname world"
    ports:
      - 30000:30000/udp
    volumes:
      - ./data:/config
      - ./config:/config-templates:ro
      - ./scripts:/scripts:ro
      - ./scripts/lsio-init-world.sh:/custom-cont-init.d/10-init-world.sh:ro
    restart: unless-stopped
